
.checkbox {
  min-height: calc(12px + 1vh);
  min-width: calc(12px + 1vh);
  border-radius: 5px;
  margin-right: 5px;
  border: #292929 1px solid;
  cursor: pointer;
}

.subtask {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 5px;
}

.subtask-name {
  margin: 0;
  display: flex;
  align-items: center;
  min-width: 95%;
  max-width: 95%;
  word-wrap: break-word; /* This doesn't work as intended. Words are not broken and there is x-axis overflow and scrolling; I don't want that. */
}

.input {
  right: 1vw;
  height: calc(12px + 1vh);
  border-radius: 5px;
  border: #292929 1px solid;
  font-family: Futura;
  font-weight: bold;
  min-width: 100%;
}
