
<div class="bg">
  <div class="container">
    <div>
      <div *ngIf="!this.task.editMode" class="task-name">
        {{this.task.taskName}}
      </div>

      <div *ngIf="this.task.editMode">
        <input class="input" type="text" [(ngModel)]="this.task.taskName"><br><br>
      </div>
    </div>



    <app-sub-task *ngFor="let subTask of this.task.subTasks"
                  [editMode]="this.task.editMode"
                  [subTask]="subTask"
                  (checkboxChangeEvent)="safeToTaskService()"
    > <!--this is the specific subTask of type subTaskModel that stores the data for the subTask-->
    </app-sub-task>

    <div class="new-sub-task" *ngIf="this.task.editMode" (click)="addNewSubtask()">
      + Aufgabe hinzufügen
    </div>
  </div>


  <div class="controls"> <!-- It might make sense to only display controls if the user is hovering over the task -->
    <div class="button" style="background-color: #8af2a4" (click)="confirmChanges()"></div>
    <div class="button" style="background-color: #e87564" (click)="deleteTask()"></div>
  </div>
</div>


