.bg-yellow { /* bg if task is not completed */
  background-color: #f5e85b;
  border: #292929 1px solid;
  width: 25vh;
  height: 32vh;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  position: relative;

  color: #292929;
  font-family: Futura;
  font-weight: bold;
  text-align: left;

  margin-bottom: 5vh;
}

.bg-green { /* bg if task is completed */
  background-color: #c8fdb1;
  border: #292929 1px solid;
  width: 25vh;
  height: 32vh;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  position: relative;

  color: #292929;
  font-family: Futura;
  font-weight: bold;
  text-align: left;

  margin-bottom: 5vh;
}

.container {
  overflow-y: scroll;
  word-wrap: break-word;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;

  scrollbar-width: none;  /* firefox */
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
}

.container::-webkit-scrollbar {
  display: none;  /* Chrome, Safari */
}

.task-name-yellow {
  font-family: Futura;
  font-weight: bold;
  font-size: calc(12px + 1vh);
  margin-bottom: 10px;
  padding: 5px;

  border-radius: 5px;

  background-color: #d9cf66;
}

.task-name-green {
  font-family: Futura;
  font-weight: bold;
  font-size: calc(12px + 1vh);
  margin-bottom: 10px;
  padding: 5px;

  border-radius: 5px;

  background-color: #9fe382;
}


.controls {
  position: absolute;
  height: calc(3*(30px + 1.75vh));
  width: calc(30px + 1.75vh);
  background-color: transparent;
  right: -1vw; /** not good for scaling of viewport; never mind, might be big brain*/
  bottom: -2vw; /** not good for scaling of viewport; never mind, might be big brain*/

  display: flex;
  flex-direction: column; /* stack child elements vertically */
  justify-content: flex-end; /* push the controls div to the bottom */
}

.button {

  height: calc(30px + 1.75vh);
  width: calc(30px + 1.75vh);
  border-radius: 5px;
  margin: 5px;

  border: #292929 1px solid;

  cursor: pointer;
}

.new-sub-task {
  height: calc(10px + 1.75vh);
  background-color: #d9cf66;
  right: -1vw; /** not good for scaling of viewport; never mind, might be big brain*/
  bottom: -2vw; /** not good for scaling of viewport; never mind, might be big brain*/

  font-style: italic;

  display: flex;
  flex-direction: column; /* stack child elements vertically */
  justify-content: normal; /* push the controls div to the bottom */

  border-radius: 5px;

  cursor: pointer;

  padding-left: 5px;
}

.input {
  max-width: 95%;
  right: 1vw;
  height: calc(12px + 2vh);
  border-radius: 5px;
  border: #292929 1px solid;
  font-family: Futura;
  font-weight: bold;
  font-size: calc(12px + 1vh);
}
