<div class="bg">

  <div>
    <div *ngIf="!this.editMode" class="task-name">
      {{this.taskName}}
    </div>

    <div *ngIf="this.editMode">
      <input class="input" type="text" [(ngModel)]="taskName"><br><br>
    </div>
  </div>



  <app-sub-task *ngFor="let subTask of subTaskArray"
  [editMode]="editMode"
  [subTask]="subTask"> <!--this is the specific subTask of type subTaskModel that stores the data for the subTask-->
  </app-sub-task>

  <div class="new-sub-task" *ngIf="editMode" (click)="addNewSubtask()">
    + Aufgabe hinzufügen
  </div>

  <div class="controls"> <!-- It might make sense to only display controls if the user is hovering over the task -->
    <div class="button" style="background-color: #8af2a4" (click)="confirmChanges()"></div>
    <div class="button" style="background-color: #e87564" (click)="deleteTask()"></div>
  </div>
</div>


