<body>





<table class="table">
  <tr>
    <td>
      <app-task *ngFor="let task of tasksOne"
                [inputTask]="task"
                (deleteTaskEvent)="deleteTask($event)"
                (updateTaskEvent)="updateTask($event)"
      >
      </app-task>
    </td>
    <td>
      <app-task *ngFor="let task of tasksTwo"
                [inputTask]="task"
                (deleteTaskEvent)="deleteTask($event)"
                (updateTaskEvent)="updateTask($event)"
      >
      </app-task>
    </td>
    <td>
      <app-task *ngFor="let task of tasksThree"
                [inputTask]="task"
                (deleteTaskEvent)="deleteTask($event)"
                (updateTaskEvent)="updateTask($event)"
      >
      </app-task>
    </td>
    <td>
      <app-task *ngFor="let task of tasksFour"
                [inputTask]="task"
                (deleteTaskEvent)="deleteTask($event)"
                (updateTaskEvent)="updateTask($event)"
      >
      </app-task>
    </td>
    <td>
      <app-task *ngFor="let task of tasksFive"
                [inputTask]="task"
                (deleteTaskEvent)="deleteTask($event)"
                (updateTaskEvent)="updateTask($event)"
      >
      </app-task>
    </td>
  </tr>
</table>





</body>

